.connect__button {
  width: 213px;
  height: 63px;
  background: #0A2640;
  border: 2px solid #0A2640;
  border-radius: 56px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 65px;
}