.handshake__heading {
font-family: 'Manrope-VariableFont_wght', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 72px;
color: #000000;
margin: 0 auto;
padding-bottom: 76px;
width: 842px;
text-align: center;
letter-spacing: 1px;
}
