.header__boldo {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #FFFFFF;
  margin: 55px 0 0 0;
  padding: 0;
  display: block;
  width: 544px;
}