.news__wrapper {
  width: 1050px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 77px;
  box-sizing: border-box;
}

.news__wrapper:last-child {
  padding-bottom: 0;
}